<html>

    <head>
        <title>Home | Dynapix</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    
    <body class="dark">
       
       <header>
           <div class="container">
               <div class="row">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-5 col-lg-2">
                               <a href="index.html" class="logo"><img src="images/dynapix-logo-dark.png"></a>
                           </div>
                           <div class="col-7 col-lg-10">
                               <ul class="main-menu d-none d-lg-flex">
                                   <li><a href="index.html" class="menuitem">Home</a></li>
                                   <li><a href="about.html" class="menuitem">About Us</a></li>
                                   <li><a href="media.html" class="menuitem">Media</a></li>
                                   <li><a href="careers.html" class="menuitem">Careers</a></li>
                                   <li><a href="contact.html" class="menuitem">Contact Us</a></li>
                                   <li><a class="menuitem">Brand Stories</a></li>
                                   <span class="btn rg-btn"><i class="fas fa-phone"></i> Call Now</span>
                               </ul>
                               <div class="d-lg-none mobmenu">
                                   <span class="menuicon" data-bs-toggle="modal" data-bs-target="#mobilemenu"><i class="fas fa-bars"></i></span>
                                   <span class="btn rg-btn"><i class="fas fa-phone"></i> Call Now</span>
                               </div>
                           </div>
                      </div>
                  </div>
                   
               </div>
           </div>
       </header>
        
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner">
                            <div class="content">
                                <h1 class="title">Amplifying Brands with Dynamic <span class="headingbg">DOOH Advertising</span></h1>
                                <p>Reach millions through our expansive digital network, strategically placed to maximize brand impact across urban landscapes and high-traffic areas.</p>
                                <a class="btn connectfrmopen"><span>Connect with us</span></a>
                            </div>
                            <div class="map">
                                <img src="images/map-india.webp">
                                <div class="wrap" style="top: 47%; left: 30%;">
                                    <div class="dot"></div>
                                    <div class="name">Madhya Pradesh</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 66%; left: 35%;">
                                    <div class="dot"></div>
                                    <div class="name">Hyderbad</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 65%; left: 18%;">
                                    <div class="dot"></div>
                                    <div class="name">Mumbai</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 58%; left: 30%;">
                                    <div class="dot"></div>
                                    <div class="name">Pune</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 35%; left: 41%;">
                                    <div class="dot"></div>
                                    <div class="name">Uttar Pradesh</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 49%; left: 37%;">
                                    <div class="dot"></div>
                                    <div class="name">Nagpur</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 25%; left: 25%;">
                                    <div class="dot"></div>
                                    <div class="name">Delhi</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 58%; left: 16%;">
                                    <div class="dot"></div>
                                    <div class="name">Goa</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 47%; left: 56%;">
                                    <div class="dot"></div>
                                    <div class="name">Jharkhand</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                                <div class="wrap" style="top: 40%; left: 59%;">
                                    <div class="dot"></div>
                                    <div class="name">Bihar</div>
                                    <div class="pulseanim-wrapper pulseanim_"><div class="pulseanim-parent"><div class="pulseanim"></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="countersec">
           <div class="container">
               <div class="row">
                   <div class="col-6 col-md-3">
                       <div class="counter" data-target="10">
                           <div class="counternum headingbg" id="counter1">0</div>
                           <div class="name">Cities Covered</div>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
                       <div class="counter" data-target="100">
                           <div class="counternum headingbg" id="counter2">0</div>
                           <div class="name">No. of Screens</div>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
<!--                       <div class="counter" data-target="10">-->
                       <div class="counter">
                           <div class="counternum headingbg">1 Million</div>
                           <div class="name">Daily Reach</div>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
                       <div class="counter" data-target="100">
                           <div class="counternum headingbg" id="counter3">0</div>
                           <div class="name">No. of Campaigns</div>
                       </div>
                   </div>
               </div>
           </div>            
        </section>
        
        <section>
            <div class="container">
                <div class="row rowgap">
                    <div class="col-12 text-center">
                        <h2 class="heading">Dynapix Impact</h2>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="whysec">
                           <div class="imgwrap"><img src="images/icons/technology.png"></div>
                            <h3 class="title">Cutting-Edge Technology</h3>
                            <p>Harness advanced digital screens and AI-driven ad placements for unmatched brand visibility.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="whysec">
                           <div class="imgwrap"><img src="images/icons/audience.png"></div>
                            <h3 class="title">Engaging Audiences</h3>
                            <p>Captivate consumers with strategically positioned displays in high-footfall areas, boosting interaction and recall.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="whysec">
                           <div class="imgwrap"><img src="images/icons/data.png"></div>
                            <h3 class="title">Data-Driven Results</h3>
                            <p>Leverage real-time analytics to optimize ad performance and maximize ROI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="heading">Powering Every Space</h2>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="categories">
                            <img src="images/category/img124.jpg">
                            <div class="title headingbg">Malls</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="categories">
                            <img src="images/category/img285.jpg">
                            <div class="title headingbg">Theatres</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="categories">
                            <img src="images/category/img384.jpg">
                            <div class="title headingbg">Fuel Stations</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="heading headingbg">Brand Stories</h2>
                    </div>
                    <div class="col-12">
                        <div class="campaigncarousel owl-carousel">
                            <div class="wrap">
                                <img src="images/category/img124.jpg">
                                <div class="title headingbg">Sarath City Capital Mall</div>
                            </div>
                            <div class="wrap">
                                <img src="images/category/img285.jpg">
                                <div class="title headingbg">Miraj Cinemas</div>
                            </div>
                            <div class="wrap">
                                <img src="images/category/img384.jpg">
                                <div class="title headingbg">HPCL Bunks</div>
                            </div>
                            <div class="wrap">
                                <img src="images/category/img355.jpg">
                                <div class="title headingbg">Fun Mall</div>
                            </div>
                            <div class="wrap">
                                <img src="images/category/img266.jpg">
                                <div class="title headingbg">Prasads Imax</div>
                            </div>
                            <div class="wrap">
                                <img src="images/category/img229.jpg">
                                <div class="title headingbg">JP Cinemas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        
        <section class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-slider">
                            <div class="logos">
                                <img src="images/logos/flipkart.jpg">
                                <img src="images/logos/sbi.jpg">
                                <img src="images/logos/apple.jpg">
                                <img src="images/logos/novotel.jpg">
                                <img src="images/logos/hero.jpg">
                                <img src="images/logos/audi.jpg">
                                <img src="images/logos/hm.jpg">
                                <img src="images/logos/honda.jpg">
                                <img src="images/logos/amazon.jpg">
                                <img src="images/logos/soch.jpg">
                                <img src="images/logos/prestige.jpg">
                                <img src="images/logos/tanishq.jpg">
                                <img src="images/logos/pantaloons.jpg">
                                <img src="images/logos/hm.jpg">
                                <img src="images/logos/rapido.jpg">
                                <img src="images/logos/narayani4.jpg">
                                <img src="images/logos/malabar.jpg">
                                <img src="images/logos/kia.jpg">
                                <img src="images/logos/klm.jpg">
                                <img src="images/logos/bankofbaroda.jpg">
                                <img src="images/logos/cmr.jpg">
                                <img src="images/logos/kalamandir.jpg">
                                <img src="images/logos/parampara.jpg">
                                <img src="images/logos/sleepwell.jpg">
                                <img src="images/logos/sbi.jpg">
                                <img src="images/logos/pepe.jpg">
                                <img src="images/logos/park.jpg">
                                <img src="images/logos/nippon.jpg">
                                <img src="images/logos/jlr.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                       <div class="bigtextdiv">
                           <h2>Establish a Strategic Partnership <br><span><small class="headingbg">Connect</small></span> with Dynapix Today</h2>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="heading">Client`s Say</h2>
                        <div class="owl-carousel testmcarousel">
                            <div class="wrap">
                                <div class="content">
                                    I am thrilled with the results of our DOOH advertising campaign with Dynapix Digital Media! Their strategic approach helped us reach our target audience effectively. The interactive screens and captivating content truly engaged our customers. We've seen a noticeable increase in foot traffic and brand awareness since partnering with Dynapix. Highly recommended!
                                </div>
                                <img src="https://img.freepik.com/free-photo/smiley-man-with-headphones-front-view_23-2149915903.jpg">
                                <div class="name headingbg">John Smith</div>
                                <div class="desgn">Marketing Manager, XYZ Retail</div>
                            </div>
                            <div class="wrap">
                                <div class="content">
                                    Dynapix Digital Media has been an incredible partner for our digital advertising needs. Their team's responsiveness and attention to detail have been exceptional. The real-time analytics they offered were invaluable in measuring the campaign's success. We look forward to collaborating with Dynapix for future campaigns!
                                </div>
                                <img src="https://img.freepik.com/free-photo/smiley-man-with-headphones-front-view_23-2149915903.jpg">
                                <div class="name headingbg">Jane Doe</div>
                                <div class="desgn">Events Coordinator, ABC Events</div>
                            </div>
                            <div class="wrap">
                                <div class="content">
                                    I cannot say enough good things about Dynapix Digital Media. Their team's professionalism and expertise have been outstanding throughout our DOOH advertising campaign. They understood our brand vision and translated it into stunning visuals on their screens. The campaign's impact on our and dedication!
                                </div>
                                <img src="https://img.freepik.com/free-photo/smiley-man-with-headphones-front-view_23-2149915903.jpg">
                                <div class="name headingbg">Mike Johnson</div>
                                <div class="desgn">CEO, Acme Tech Solutions</div>
                            </div>
                            <div class="wrap">
                                <div class="content">
                                    Our experience with Dynapix Digital Media has been exceptional from start to finish. Their team's knowledge of DOOH advertising and their commitment to delivering results exceeded our expectations. The dynamic screens and tailored content they provided gave our brand a fresh and modern appeal. We saw an immediate increase in website traffic and lead generation. Working with Dynapix has been a game-changer for our business!
                                </div>
                                <img src="https://img.freepik.com/free-photo/smiley-man-with-headphones-front-view_23-2149915903.jpg">
                                <div class="name headingbg">Sarah Lee</div>
                                <div class="desgn">Director of Marketing, ZYX Healthcare</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <footer>
            <div class="container">
                <div class="row">
                   <div class="col-12">
                       <div class="row">
                           <div class="col-12 col-lg-4">
                                <img src="images/logo-white.png" class="logo">
                                <p>Dynapix provides digital advertising solutions to businesses. We use the latest technology to deliver dynamic, engaging content to consumers on-the-go.</p>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="title">Quick Links</div>
                                <div class="footlinks">
                                    <a href="index.html">Home</a>
                                    <a href="about.html">About Us</a>
                                    <a href="media.html">Media</a>
                                    <a href="careers.html">Careers</a>
                                    <a href="contact.html">Contact Us</a>
                                    <a>Brand Stories</a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <div class="title">Policies</div>
                                <div class="footlinks">
                                    <a>Privacy Policy</a>
                                    <a>Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="title">Get in Touch</div>
                                <div class="addrwrap mb-3">
                                    <span>
                                        <strong class="d-block mb-1">Dynapix Advertising</strong>
                                        1st Floor, Modern Profound Tech Park, Sy. No. 12, Whitefield Road, Kondapur, Telangana - 500084
                                   </span>
                                </div>
                                <div class="addrwrap">
                                    <i class="fas fa-phone"></i>
                                    <span>+434 43242232</span>
                                </div>
                                <div class="addrwrap">
                                    <i class="fas fa-envelope"></i>
                                    <span>info@dynapix.com</span>
                                </div>
                            </div>
                            <div class="col-12 text-center">Copyright &copy;2024 Dynapix. <span class="d-inline-block">All Rights Reserved.</span></div>
                       </div>
                   </div>
                </div>
            </div>
        </footer>
        
        <div class="modal" id="mobilemenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="termsLabel">
           <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                     <div class="mobmainmenu">
                         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="btnclose"><i class="fas fa-times"></i></button>
                         <ul class="mobmenulist">
                           <li><a href="index.html" class="menuiitem">Home</a></li>
                           <li><a href="about.html" class="menuiitem">About Us</a></li>
                           <li><a href="media.html" class="menuiitem">Media</a></li>
                           <li><a href="careers.html" class="menuiitem">Careers</a></li>
                           <li><a href="contact.html" class="menuiitem">Contact Us</a></li>
                           <li><a class="menuiitem">Brand Stories</a></li>
                         </ul>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        
        
        <div class="connectfrm">
            <div class="mainwrap">
               <button class="connectfrmclose"><i class="fas fa-times"></i></button>
                <h2 class="title headingbg">Connect With Us</h2>
                
                <div class="wrap">
                    <label>Name</label>
                    <input type="text">
                </div>
                <div class="wrap">
                    <label>Email</label>
                    <input type="email">
                </div>
                <div class="wrap">
                    <label>Mobile Number</label>
                    <input type="tel">
                </div>
                <div class="wrap">
                    <label>Requirement</label>
                    <select>
                        <option>Have an advertising requirement?</option>
                        <option>Agency partnership with us</option>
                        <option>List your media with us</option>
                        <option>Explore career opportunities</option>
                    </select>
                </div>
                <div class="wrap">
                    <label>Brand/Company Name</label>
                    <input type="text">
                </div>
                <button>Submit</button>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        
        <script>
        $(document).ready(function() {
              var owl = $('.campaigncarousel');
              owl.owlCarousel({
                loop: true,
                  nav:true,
                margin: 20,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:true
                    },
                    1000:{
                        items:3,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
        <script>
        $(document).ready(function() {
              var owl = $('.testmcarousel');
              owl.owlCarousel({
                loop: true,
                  nav:true,
                margin: 20,
                responsiveClass:true,
				autoplay:true,
				autoplayTimeout:4000,
				autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:1,
                        nav:true
                    },
                    1000:{
                        items:1,
                        nav:true,
                        loop:true
                    }
                }
                });
              
            })
        
        </script>
        
        <script>
            function startCounter(counterId, target) {
                let count = 0;
                const duration = 2000; // 2 seconds
                const intervalTime = 30; // Update every 30 milliseconds
                const increment = target / (duration / intervalTime);
                const counterElement = document.getElementById(counterId);

                const intervalId = setInterval(() => {
                    count += increment;
                    counterElement.innerText = Math.round(count);

                    if (count >= target) {
                        clearInterval(intervalId);
                        counterElement.innerText = target; // Ensure it ends at the target
                    }
                }, intervalTime);
            }

            // Create an Intersection Observer
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const counterId = entry.target.querySelector('.counternum').id;
                        const target = parseInt(entry.target.getAttribute('data-target'));
                        startCounter(counterId, target);
                        observer.unobserve(entry.target); // Stop observing once counted
                    }
                });
            });

            // Start observing all counter sections
            const counterSections = document.querySelectorAll('.counter');
            counterSections.forEach(section => {
                observer.observe(section);
            });
        </script>
        
        <script>
            AOS.init();
        </script>
        
        <script>
        
            document.querySelector('.connectfrmopen')?.addEventListener('click', () => {
                document.querySelector('.connectfrm')?.classList.add('show');
            });
            
            document.querySelector('.connectfrmclose')?.addEventListener('click', () => {
                document.querySelector('.connectfrm')?.classList.remove('show');
            });
        
        </script>
        
        <script>
        
             $(document).on("click",".menuiitem", function(){
                $("#btnclose").trigger("click");
            })

        </script>
        
    </body>

</html>